html {
    /*background: #ffffd1; 背景色*/
    font-size: 16px; /*字型大小*/
    /*font-family: sans-serif;*/ /*字型*/
    line-height: 1.4; /*行高*/
    /*color: #000;*/ /*顏色設定*/
    font-family: "Times New Roman","微軟正黑體";
}

body {
    font-family: adobe-garamond-pro, times new roman;
    background: #fff url('../images/img_base/bg_wood.jpg') center top no-repeat;
    background-size: 100%;
    margin: 0;
}

a {
    color: #000;
    text-decoration: none;
}

    a:hover {
        color: #a35554;
        text-decoration: none;
    }

footer a {
    color: #fff;
}

dl a {
    color: #000;
    text-decoration: none;
}

    dl a:hover {
        color: #a35554;
        text-decoration: none;
    }


.product-block:hover .picture-wine {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.product-block:hover .picture-color {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    z-index: 0;
}

.product-block:hover .picture-nocolor {
    -webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    z-index: -1;
}



.product-block {
    position: relative;
    width: 350px;
    margin: 0;
    margin-right: 20px;
}

    .product-block .product-img {
        margin: 0 auto;
        height: 400px;
    }

.product-img .picture-wine {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 55px;
    height: 350px;
}

.picture-color {
    width: 350px;
    position: absolute;
    z-index: -1;
}

.picture-nocolor {
    width: 350px;
    position: absolute;
    z-index: 0;
}

.product-block .product-intro {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.product_nav {
    display: block;
    float: left;
    text-align: left;
    margin-top: 33px;
    position: relative;
    border: 2px solid #669933;
    border-width: 0 0 2px 0;
    width: 950px;
  

}

.product_nav_letter {
    font-family: "Times New Roman","微軟正黑體";
}

.product_span{
    padding:10px;
}

.product_border{
    border:none;
}

.product_box {
   margin:0 auto;
}

.product_btn {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    /*border-radius: .3rem;*/
    color: #603f46 !important;
    /*border-color: #603f46!important;*/
    text-align: center !important;
    font-family: "Times New Roman","微軟正黑體";
}


@media screen and (max-width: 767px) {
  .product-block{
      margin:0 auto;
  }
    .product_box {
        margin: 0 auto;
    }

    .product-menu {
        position: relative;
    }
    dl {
        position: absolute;
        flex-direction: column;
        top: 40px;
        width: 100%;
        background: rgba(#fff,0.8);
    }
    button {
        display: block;
        background: #fff;
        border: none;
        width: 100%;
        height: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-size: 40px;
        float: right;
        color: #603f46
    }
    i {
        margin-left: 5px;
    }
}