body {
    background: #fff url("/Assets/images/img_base/bg_wood.jpg") center top no-repeat;
}

div.product-detail {
    margin: 6rem auto 6rem;
}

.product-image img {
    height: 650px;
    margin-top: 40px;
}
.product-content {
    margin-top:40px;
}
.product-content .unitPrice {
    margin-top: 40px;
    padding: 15px 20px;
    background: #fafafa;
}

.product-content .unitPrice .form-group {
    font-size: 40px;
}

.product-content ul .form-group {
    font-size: 18px;
    color: #4d4d4d;
}

    .product-content .name {
        font-family: "Times New Roman","微軟正黑體"
    }

.product-content div {
    font-size: 18px;
    color: #4d4d4d;
}

.product-content .title {
    width: 110px;
}

.product-content button {
    background: #862633;
}


.product-detail .introduction  h2{
    font-family: "Times New Roman","微軟正黑體"
}
.product-detail .introduction div {
    font-family: "Times New Roman","微軟正黑體"
}

.product_row h2{
    font-family: "Times New Roman","微軟正黑體"
}

.product_row div {
    font-family: "Times New Roman","微軟正黑體"
}

.productdetail_box .card{
    margin-top:10px;
}